
<div class="container">

  <table class="table table-warning">
    <thead>
    <tr>
      <th>ID</th>
      <th>Student</th>
      <th>{{'Opis' | translate}}</th>
      <th>{{'Svrha' | translate}}</th>
      <th>{{'Izdata' | translate}}</th>
      <th>{{'Izdaj' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of potvrde">
      <td>{{p.id}}</td>
      <td>{{p.student.ime}} {{p.student.prezime}}</td>
      <td>{{p.opis}}</td>
      <td>{{p.svrha.naziv}}</td>
      <td>{{p.izdata}}</td>
      <td><button *ngIf="p.izdata==false" (click)="izdaj(p.id)">{{'Izdaj' | translate}}</button></td>
    </tr>
    </tbody>
  </table>

  <mat-paginator [length]="numberOfRecords"
                 #matPaginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100, 250, 500]"
                 (page)="onPageChanged($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>

