<div class="container">

  <div>
    <button routerLink="/referent/predmeti/add">{{'Dodaj novi predmet' | translate}}</button>
  </div>
  <br>

  <table class="table table-warning">
    <thead>
    <tr>
      <th>ID</th>
      <th>{{'Naziv' | translate}}</th>
      <th>{{'Oznaka' | translate}}</th>
      <th>{{'Godina' | translate}}</th>
      <th>{{'Akcija' | translate}}</th>
    </tr>

    </thead>

    <tbody>
    <tr *ngFor="let p of predmeti">
      <td>{{p.id}}</td>
      <td>{{p.naziv}}</td>
      <td>{{p.oznaka}}</td>
      <td>{{p.godina}}</td>
      <td>
        <button (click)="delete(p.id)">{{'Obrisi' | translate}}</button>
        <button (click)="edit(p.id)">{{'Edit' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
