
<div class="container">

  <button routerLink="/studentmain/studentpotvrde">{{'Nova potvrda' | translate}}</button>

  <table class="table table-warning">
    <thead>
    <tr>
      <th>{{'Svrha' | translate}}</th>
      <th>{{'Opis' | translate}}</th>
      <th>{{'Izdata' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of potvrde">
      <td>{{p.svrha.naziv}}</td>
      <td>{{p.opis}}</td>
      <td>{{p.izdata}}</td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="numberOfRecords"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100, 250, 500]"
                 (page)="onPageChanged($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>


