<div class="container">

<form (ngSubmit)="Save()" #studentEditForm="ngForm" class="forma">
  <div class="razmak">
    <label>{{'Ime' | translate}}</label><br>
    <input type="text" [(ngModel)]="student.ime" name="ime" required/>
  </div>

  <div class="razmak">
    <label>{{'Prezime' | translate}}</label><br>
    <input type="text" [(ngModel)]="student.prezime" name="prezime" required>
  </div>

  <div class="razmak">
    <label>{{'Datum rođenja' | translate}}</label><br>
    <input type="date" [(ngModel)]="student.datum_rodjenja" name="datum_rodjenja" required>
  </div>

  <div class="razmak">
    <label>{{'Fakulteti' | translate}}</label><br>
    <select [(ngModel)]="student.FakultetID" name="FakultetID" required>
      <option *ngFor="let fakultet of Fakulteti" [ngValue]="fakultet.id">{{fakultet.naziv}}</option>
    </select>
  </div>

  <div class="razmak">
    <img src="{{student.slika_studenta}}" style="width: 100px; height: 100px">
  </div>
  <div class="razmak">
    <label>{{'Slika profila' | translate}}</label>
    <input
      type="file" (change)="onFileChanged($event)"
      #fileInput>
  </div>

  <div class="razmak">
    <button type="submit" >{{'Uredi' | translate}}</button>
  </div>

</form>

</div>
