ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding-left: 2%;
  overflow: hidden;
  background-color: #031f4b;
  border-radius: 0px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 23px 24px;
  text-decoration: none;
  border-radius: 100px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: deepskyblue;
}
#Odjava{
  position: absolute;
  right: 0px;
  background-color: orangered;
  border-radius: 100px;
}
#body{
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: max-content;
  max-height: 1000%;
}
#Dl {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  padding-left: calc(100% - 80%);
  text-decoration: none;
  border-radius: 100px;
  text-shadow: grey;
  font-size: larger;
}

