<div class="container my-con" >
  <div class="row">
    <div class="col p-0">
      <ul>
        <li><a routerLink="/studentmain/studentpocetna"><span i18n>Studenti</span></a></li>
        <li><a routerLink="uspjeh">Uspjeh</a></li>
        <li><a routerLink="/studentmain/potvrdepregled">Potvrde</a></li>
        <li><a routerLink="/studentmain/forum">Forum</a></li>
        <li><a routerLink="/studentmain/test">Testovi</a></li>
        <li><a routerLink="/chat">CHAT</a></li>
      </ul>
    </div>
  </div>
</div>
