<div class="container">

<form (ngSubmit)="Save()" #studentAddForm="ngForm" class="forma">
  <div class="razmak">
  <label>{{'Ime' | translate}}</label><br>
  <input type="text" [(ngModel)]="Students.ime" name="ime" required/>
  </div>

  <div class="razmak">
  <label>{{'Prezime' | translate}}</label><br>
  <input type="text" [(ngModel)]="Students.prezime" name="prezime" required>
  </div>

  <div class="razmak">
  <label>{{'Broj indeksa' | translate}}</label><br>
  <input type="text" [(ngModel)]="Students.broj_indeksa" name="broj_indexa" required>
  </div>

  <div class="razmak">
    <label>{{'Datum rođenja' | translate}}</label><br>
    <input type="date" [(ngModel)]="Students.datum_rodjenja" name="datum_rodjenja" required>
  </div>

  <div class="razmak">
  <label>{{'Fakulteti' | translate}}</label><br>
  <select [(ngModel)]="Students.FakultetID" name="FakultetID" required>
    <option *ngFor="let fakultet of Fakulteti" [ngValue]="fakultet.id">{{fakultet.naziv}}</option>
  </select>
  </div>

  <div class="razmak">
  <label>{{'Korisnicko ime' | translate}}</label><br>
  <input type="text" [(ngModel)]="Students.KorisnickoIme" name="KorisnickoIme" required>
  </div>

  <div class="razmak">
  <label>{{'Lozinka' | translate}}</label><br>
  <input type="password" [(ngModel)]="Students.Lozinka" name="Lozinka" required>
  </div>

  <div class="razmak">
    <label>{{'Slika profila' | translate}}</label>
    <input
      type="file" (change)="onFileChanged($event)"
      #fileInput>
  </div>

  <div class="razmak">
  <button type="submit" [disabled]="!studentAddForm.valid">{{'Dodaj studenta' | translate}}</button>
  </div>

</form>

</div>
