<div class="container">

  <br>
  <div>
    <input [(ngModel)]="pitanje"><button (click)="addPitanje()">{{'Dodaj pitanje' | translate}}</button>
  </div>

  <br>
  <table class="table table-warning">
    <thead>
    <tr>
      <th>{{'Pitanje' | translate}}</th>
      <th>{{'Odgovor' | translate}}</th>
      <th>{{'Akcija' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let f of forum;let i = index">
      <td>{{f.pitanje}}</td>
      <td>{{f.odgovor}}</td>
      <td><input [name]="'odgovor[{{i}}]'" [(ngModel)]="forum[i].odgovor">
        <button *ngIf="f.questionerId!=logiraniKorisnik" (click)="addOdgovor(f.id)">{{'Evidentiraj' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
