
<div class="container">

  <div class="mrow" >

    <div class="sel">
      <select (change)="changeLanguage($event)" [(ngModel)]="language">
        <option value="en">English</option>
        <option value="bs">Bosnian</option>
      </select>
    </div>

      <div>
      <button class="btn btn-primary float-end" (click)="LogOut()">{{'Odjavi se' | translate}}</button>
      </div>

  </div>


  <table class="table table-warning">
    <thead>
    <tr>
      <th>{{'Id' | translate}}</th>
      <th>{{'Opis' | translate}}</th>
      <th>{{'Datum prijave' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let x of greske">
      <td>{{x.id}}</td>
      <td>{{x.opis}}</td>
      <td>{{x.datum_prijave}}</td>
    </tr>
    </tbody>
  </table>
</div>
